App_WebReferences/EmployeeServiceReference/JsonWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRecipie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ControlId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecipieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipieResult" type="tns:ArrayOfRecipie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecipie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Recipie" nillable="true" type="tns:Recipie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Recipie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pname" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRecipieSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipie" />
  </wsdl:message>
  <wsdl:message name="GetRecipieSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipieResponse" />
  </wsdl:message>
  <wsdl:portType name="JsonWebServiceSoap">
    <wsdl:operation name="GetRecipie">
      <wsdl:input message="tns:GetRecipieSoapIn" />
      <wsdl:output message="tns:GetRecipieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JsonWebServiceSoap" type="tns:JsonWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipie">
      <soap:operation soapAction="http://tempuri.org/GetRecipie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JsonWebServiceSoap12" type="tns:JsonWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipie">
      <soap12:operation soapAction="http://tempuri.org/GetRecipie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JsonWebService">
    <wsdl:port name="JsonWebServiceSoap" binding="tns:JsonWebServiceSoap">
      <soap:address location="http://localhost:1181/OnlineTest/JsonWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="JsonWebServiceSoap12" binding="tns:JsonWebServiceSoap12">
      <soap12:address location="http://localhost:1181/OnlineTest/JsonWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>